<!DOCTYPE html>
{% extends 'main_app/base.html' %}

{% block body_block %}


{% if labRequests.count > 0 %}
<div style="background-color:#DAAD86" class="jumbotron">

  <h3>Lab Requests</h3>

  <table style="width:100%">
  <tr>
    <th>Lab</th>
    <th>Approval Status</th>
    <th>Remark</th>

  </tr>

  {% for req in labRequests %}

  <tr>
    <td>{{ req.lab.user.username }}</td>

    {% if req.approval_status == 0 %}
    <td>WAITING</td>
    {% elif req.approval_status == 1 %}
    <td>Waiting for HOD approval</td>
    {% elif req.approval_status == 2 %}
    <td>Approved</td>
    {% else %}
    <td>Rejected</td>
    {% endif %}

    <td>{{ req.remark }}</td>
  </tr>

  {% endfor %}

  </table>

</div>
{% else %}
<br><h3>No Lab Requests...</h3>
<br><br>
{% endif %}

{% endblock %}
