<!DOCTYPE html>
{% extends 'main_app/base.html' %}

{% block body_block %}

{% if otherRequests.count > 0 %}
<div style="background-color:#b0e0e6" class="jumbotron">

  <h3>Other Requests</h3>

  <table class="table table-hover" style="width:100%">
  <tr>
    <th>Department</th>

     <th>Approval Status</th>
     <th>Remark</th>
  </tr>

  {% for req in otherRequests %}

  <tr>

    <td>{{ req.other.user.username }}</td>



    {% if req.approval_status == 0 %}
    <td>WAITING</td>
    {% elif req.approval_status == 1 %}
    <td>Waiting for HOD approval</td>
    {% elif req.approval_status == 2 %}
    <td>Approved</td>
    {% else %}
    <td>Rejected</td>
    {% endif %}

    <td>{{ req.remark }}</td>
  </tr>

  {% endfor %}


</table>

</div>
{% else %}
<br><h3>No Other Requests...</h3>
<br><br>
{% endif %}


{% endblock %}
